.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.searchResult:hover{
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult_heart{
    position: absolute;
    top:20px;
    right: 40px;
}

.searchResult_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult_infoTop {
    width: 40vw;
}

.searchResult_infoTop > h3 {
    margin-top: 10px;
    font-weight: 300;
}

.searchResult_infoTop > p {
    font-size: 13px;
    color: grey;
    margin-top: 10px;
}

.searchResult_infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult_stars {
    display: flex;
    align-items: center;
}

.searchResults_price > p {
    text-align: right;
}

.searchResults_price {
    position: absolute;
    bottom: 20px;
    right: 30px;;
}

.searchResult_star {
    color: red;
}